@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto & display=swap');
@import "../sass/utils/_variables.scss";
@import "../sass/utils/_mixins.scss";


    

body {
    width: 100%;   
    margin: 0px;
    justify-content: center; 
    font-family : 'Roboto', sans-serif;
    align-items: center;
    }

.chargement{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    pointer-events: none;
    animation: chargement 2s ease-in-out 3s forwards;
        @keyframes chargement {
        0%{opacity: 1;}
        50%{opacity: 0.5;}
        100%{opacity: 0;}    
        }
            .spinner{
                
                position: absolute;
                bottom: 50%;
                left: 50%;
                
                border: 10px solid $coul-prim; 
                border-top: 10px solid $coul-secon; 
                border-radius: 50%;
                width: 50px;
                height: 50px;
                animation: spin 2s linear infinite;
                margin-top: -25px;
                margin-left:-25px ;
                
            }
                @-webkit-keyframes spin {
                    0% { -webkit-transform: rotate(0deg); }
                    100% { -webkit-transform: rotate(360deg); }
                }
  
                    @keyframes spin {
                        0% { transform: rotate(0deg); }
                        100% { transform: rotate(360deg); }
                    }
}
header{
    display:flex;
    flex-direction: column;
   
    background-color:#F2F2F2;
    width: 100%;
    height: 450px; 
    
}
main{
    width: 100%;
}

h1{
    font-family : 'Shrikhand', cursive ;
}

#logo{
    display:flex;
    justify-content: center;
    background-color: white;
    font-family : 'Shrikhand', cursive ;  
}
li
{
	text-decoration: none;
	color: initial;    
}
.gps
{
	display: flex;
    justify-content: center;
	align-items:center;
	border:none; 
    background-color: #ebebeb;
    height: 50px;
    box-shadow: 0px 0px 5px 0px rgb(138, 137, 137);  
}
    .icone-gps{
    padding-right: 10px;
    }

.sousgps
{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height: 250px;
    max-width: 100%;
    margin: 20px 15px 20px 15px;
    text-align: center;

}
.explorer{
    border: 0;
    padding: 15px 25px;
    border-radius: 100px;
    color:white;    
    @include gradient;
    cursor: pointer;    
    box-shadow: 0 0px 20px 0px rgb(170,170,170); 
    @include hover-button;
}
.imgacc{
    max-width: 1445px;
    height: 100px;
}
nav {
    display: flex;
    justify-content: center;



     ul
    {
        
        padding-left:0px;
        display:flex;
        flex-direction: column;
    
        li
        {
            display: flex;
            align-items:center;           
            width:330px;
            height: 60px;	 
            border-radius:25px;
            background-color: #F2F2F2;
            margin: 25px;
            list-style-type: none;
            align-items: center;
            box-shadow: 0 0px 10px 0px rgb(170,170,170); 
            
                &:hover 
                    {
                        cursor: pointer;
                        background: #f0c0e1;
                        transition-duration: 0.90s;
                        
                    }
        }
        
    }
                    #nav{
                        padding-left: 0px;
                        flex-flow: row wrap;                   
                        display: flex;
                        justify-content: center;
                    }
}
.titrefonct >h2 {
    margin-left:20px;
}

#fonct {
    padding: 0px;
}
.container1{
    background-color: #F2F2F2;
    display: flex;
    padding-bottom: 25px;
    max-width: 100%;
    
    justify-content:center;
    
    align-content: center;
      
}

.img{
    width: 100%;
    height: 154px
}
.restau {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px 0px 10px
}

.boxrest{
   
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

        >a{
            width: 340px;
            height: 235px;
            border-radius: 20px;
            margin-top: 20px;
            background-color: white;
            text-decoration: none;
            color : black;
            box-shadow: 0 0px 10px 0px rgb(170,170,170);
        }
                > a > div > img{
                    width: 100%;
                    height: 155px;
                    border-radius: 20px 20px 0 0;
                    object-fit: cover;
                }
                        > a > div > .rest >h3{

                            margin:0px; 
                        }
                            >a > div >.rest >p {
                                margin:0px;

                            }

}
.new{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    background-color: $vert;
    position:relative;
    bottom: 145px; left: 230px;

}
footer{
    width: 100%;
    background-color: #353535;
    color:white;
    >span{
        font-family : 'Shrikhand', cursive ;
        margin-left:40px;
        
    }

        li {
            color:white;
            list-style: none;
            text-decoration: none;
        }

            >ul > li > a{
                text-decoration: none;
                color:white;
            }
                
}
.patille{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin:10px;
    width: 3px;
    height: 3px;
    background-color: $coul-prim;
    border-radius: 200px;
    color:white;
    position:relative;
    right: 23px;
}
.iconefonc{
padding-right: 5px;
}
.coeur{
    position:relative;
  right: 24px; bottom:10px;
    

    > .coeur-blanc
    {
        position: absolute;
            &:hover{
                background: white;
            } 
    }
        > .coeur-color{
            position: absolute;
            
        }
}

.coeur-color{
   opacity: 0;
    
        &:hover{
            opacity:1;
            transition-duration: 0.90s; 
            @include gradient;
            -webkit-background-clip: text;
            color: transparent;
            font-weight: bold;
                
        }
}

    

/*pages restaurant*/

    
body{
    display:flex;
    flex-direction: column;
}

.teterestaurant{
    
    width: 100%;
      
background-color: white;
}
.fleche-index{
    display: flex;
    position: absolute;
    left: 40px;
    top: 40px;
    color:black;
}
.img-restaurant{
    max-width: 1445px;

}
.imgrestau{
    background: transparent;
width: 100%; 
height:300px;
object-fit: cover;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -91px;
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 45px 45px 0px 0px;
            ul{

                display: flex;
                justify-content:center;
                flex-direction: column;
                align-items: center;
                padding-left:0px;
                li{
                    padding-left: 10px;
                    display:flex;              
                    align-items:center;
                    cursor: pointer;
                        width:88%;
                        height: 60px; 
                        border-radius:15px;
                        background-color: white;
                        margin-bottom: 25px;
                        list-style-type: none;
                        align-items: center;
                        box-shadow: 0 0px 10px 0px rgb(170,170,170); 
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;

                    &:hover {
                
                    cursor: pointer;}
                }


            
            }

    >h2{
    
        margin-left: 20px; 
      }
}


.entrees {
    padding: 7px;
}
.sous{
    margin-left:15px;
}
.sous:after{
    background-color: $vert ;
    display: flex;
    position: absolute;
    left: 0;
    content: "";
    width: 65px;
    height: 5px;
    margin-left:15px;
 
}
.platentrée >p{
    margin:3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list2{

    animation: affichage 3s ease-out;
   
}
.list3{
     
    animation: affichage 6s ease-out;
    
}
.list4{

    animation: affichage 8s ease-out;
    
}.list5{
  
    animation: affichage 10s ease-out;
    
}
@keyframes affichage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }   
}

.platentrée{
    display:block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.button-commande{ 
    display:flex;
    justify-content: center;
    width: 200px;
    border: 0;
    padding: 15px 25px;
    border-radius: 100px;
    color:white;
    background-color: #686868;
    margin:40px 0px 60px 0px;
    @include gradient;
    cursor: pointer;  
    box-shadow: 0 0px 20px 0px rgb(170,170,170);
     @include hover-button;
}

.button-comm{
    display:flex;
    justify-content: center;
    background-color:#f2f2f2;

}
.titrerest{
    display:flex;
    justify-content:space-between;
    justify-items: center;
    font-size: 13px;
    align-items: center;
    margin-left: -17px;
    padding: 35px;
}
.prix{
   
    margin-left:auto;
    padding-right: 5px;
    cursor: pointer;
}

.icone-choix{
    opacity:0;
    cursor: pointer;
    display:none;
    
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list2:hover > .icone-choix {
    
    @include hover-icon;
}
.list3:hover > .icone-choix {
    
    @include hover-icon;
}
.list4:hover > .icone-choix {
    
    @include hover-icon;
}
.fa-check  {
        position: absolute;      
        background-color: white;
        color: $vert; 
        padding: 3px;
        border-radius: 200px;

} 

@mixin hover-fa {
    
    transform: rotate(360deg);
    transition-duration: 0.75s;
}
.list2:hover  .fa-check {
    @include hover-fa;
}
.list3:hover  .fa-check {
    @include hover-fa;
}
.list4:hover  .fa-check {
    @include hover-fa;
}


@media screen and (min-width: 819px) 
{
    .restaurant{  
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;  
    width: 100%;
    }
    .restaurant h2{
        text-align:center;
    }
    
    .titre-restaurant{
        width: 100%;
    }

    .titrefonct h2{
        text-align: center;
    }
    .spinner{
        bottom: 50%;
        left: 50%;
    }
}
