@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap');
body {
    width: 100%;
    margin: 0px;
    justify-content: center;
    
    font-family : 'Roboto', sans-serif;
    
    align-items: center;
    }

header{
    display:flex;
    flex-direction: column;
    
    background-color:#F2F2F2;
    width: 100%;
    height: 450px; 
    
}
main{
    width: 100%;
}
h1{
    font-family : 'Shrikhand', cursive ;
}


#logo{
    display:flex;
    justify-content: center;
    background-color: white;
    font-family : 'Shrikhand', cursive ;
}
li
{
	text-decoration: none;
	color: initial;    
}
.gps
{
	display: flex;
    justify-content: center;
	align-items:center;
	border:none; 
    background-color: #d4d3d3;
    height: 50px;
    
    }
    .icone-gps{
        padding-right: 10px;
    }
    
    
    	

.sousgps
{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height: 250px;
    max-width: 100%;
    margin: 20px 15px 20px 15px;
    text-align: center;

}
.explorer{
    border: 0;
    padding: 15px 25px;
    border-radius: 100px;
    color:white;
    background-color: #686868;
    background-image: linear-gradient(339deg,#9356DC,#FF79DA);
    cursor: pointer;
    
    box-shadow: 0 0px 20px 0px rgb(170,170,170);
    /*&:hover{
    
        transition-duration: 0.90s;
        box-shadow: 0 0px 20px 0px rgb(56, 55, 55);
    
    }*/
}
.explorer:hover{
    
    transition-duration: 0.90s;
    box-shadow: 0 0px 20px 0px rgb(56, 55, 55);

}

.imgacc{
    max-width: 1445px;
    height: 100px;
}
nav {
    display: flex;
    justify-content: center;
}
.nav ul
{
    display:flex;
	
	padding-left:0px;
	
	

	  
    
}
#nav{
    padding-left: 0px;
}
nav li
{
    display: flex;
    align-items:center;
    
    width:330px;
    height: 60px;	 
	border-radius:25px;
    background-color: #F2F2F2;
    margin-bottom: 25px;
    list-style-type: none;
    align-items: center;
    box-shadow: 0 0px 10px 0px rgb(170,170,170);    
}
.fonctionement ul li:hover 
{
    cursor: pointer;
    background: #f0c0e1;
    transition-duration: 0.90s;
    
}
#fonct {
    padding: 0px;
}
.container1{
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height:1130px;
    justify-content: center;   
}

.img{
    width: 100%;
    height: 154px
}
#rest {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px 0px 10px
}
.boxrest a > div > .rest >h3{
    
    margin:0px;
    
    
    
    
}
.boxrest a > div >.rest >p {
    margin:0px;

}

.boxrest{
    
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
}
.boxrest >a
{
    width: 340px;
	height: 235px;
    border-radius: 20px;
    margin-top: 20px;
    background-color: white;
    text-decoration: none;
    color : black;
   
    box-shadow: 0 0px 10px 0px rgb(170,170,170);
}
.boxrest > a > div > img
{
    width: 100%;
    height: 155px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.new{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    background-color: #99E2D0;
    position:relative;
    bottom: 145px; left: 230px;

}
footer{
    width: 100%;
    background-color: #353535;
    color:white;
}
footer li {
    color:white;
    list-style: none;
    text-decoration: none;
}
footer >ul > li > a{
    text-decoration: none;
    color:white;
}
footer >span{
    font-family : 'Shrikhand', cursive ;
    margin-left:40px;
    
}


.patille{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    margin:10px;
    width: 3px;
    height: 3px;
    background-color: #9356DC;
    border-radius: 200px;
    color:white;
    position:relative;
    right: 23px;
}
.iconefonc{
padding-right: 5px;
}
.coeur{
    position:relative;
    right: 20px; bottom:10px;
    
}
.coeur > .coeur-blanc
{
    position: absolute;
    
}
.coeur > .coeur-color{
    position: absolute;
    /*background-image:linear-gradient(#9356DC,#FF79DA);*/
}

.coeur-color{
   opacity: 0;
   
  
}

.coeur-color:hover{
    opacity:1;
    background-image:linear-gradient(#9356DC,#FF79DA);
    background-size: contain;
    display: block;
    height: 50px;
    width: 50px;
    position: relative;
}

    

/*pages restaurant*/

    
body{
    display:flex;
    flex-direction: column;
}


.teterestaurant{
    
    width: 100%;
   

    
background-color: white;
}
.fleche-index{
    display: flex;
    position: absolute;
    left: 40px;
    top: 40px;
    color:black;
}
.img-restaurant{
    max-width: 1445px;
    
    
    

}
.imgrestau{
    background: transparent;
width: 100%; 
height:300px;
object-fit: cover;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -130px;
 
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 45px 45px 0px 0px;
    
}
.container li{
    padding-left: 10px;
    display:flex;
    
    align-items:center;
   cursor: pointer;
    width:88%;
    /*max-width: 650px;*/
    height: 60px; 
	border-radius:15px;
    background-color: white;
    margin-bottom: 25px;
    list-style-type: none;
    align-items: center;
    box-shadow: 0 0px 10px 0px rgb(170,170,170); 
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}
.containet li:hover + .icone-choix{
    content:"";
    
}
.container ul{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    padding-left:0px;
  
}
.container >h2{
    
  margin-left: 20px; 
}
.entrees {
    padding: 7px;
}
.sous{
    margin-left:15px;
}
.sous:after{
    background-color: #99e2d0;
    display: flex;
    position: absolute;
    left: 0;
    content: "";
    width: 65px;
    height: 5px;
    margin-left:15px;
    
    
    
}
.platentrée >p{
    margin:3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.platentrée{
    display:block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.button-commande{
    width: 200px;
    border: 0;
    padding: 15px 25px;
    border-radius: 100px;
    color:white;
    background-color: #686868;
    background-image: linear-gradient(339deg,#9356DC,#FF79DA);
    cursor: pointer;
    
    box-shadow: 0 0px 20px 0px rgb(170,170,170);
}
.button-commande{
    display:flex;
    justify-content: center;
   
}
.button-comm{
    display:flex;
    justify-content: center;
    margin:40px 0px 60px 0px;

}
.titrerest{
    display:flex;
    justify-content:space-between;
    justify-items: center;
    font-size: 13px;
    align-items: center;
    margin-left: -17px;
    padding: 35px;
}

    

    


.prix{
   
    margin-left:auto;
    padding-right: 5px;
    cursor: pointer;
    
    
    
   
    
   
}
.icone-choix{
    opacity:0;
    cursor: pointer;
    display:none;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.fa-check  {
    position: absolute;
    
    background-color: white;
    color: #99E2D0;
    padding: 3px;
    border-radius: 200px;
    /*transform: rotate(0.5turn);*/
    
    
}
.fa-check:hover {
    transform: rotate(0);
    transition-duration: .12s;
}


.icone-choix:hover{
    
    opacity: 1;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #99E2D0;
    padding: 9%;   
    border-radius: 0px 15px 15px 0px;
    transition-duration: 0.5s;
    
    
    

}

/*@media screen and (max-width: 819px) {
    .contaire1
    {
        display:flex;
        justify-content: space-between;
    }*/
