body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    
    align-items: center;
    }
a 
{
	text-decoration: none;
	color: initial;    
}
.gps
{
	display:flex;
	justify-content:center;
	align-items:center;
	border:none; .lycos {
        border: none ;
    
    }
	
}
