@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto & display=swap");
body {
  width: 100%;
  margin: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chargement {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  pointer-events: none;
  -webkit-animation: chargement 2s ease-in-out 3s forwards;
          animation: chargement 2s ease-in-out 3s forwards;
}

@-webkit-keyframes chargement {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes chargement {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.spinner {
  position: absolute;
  bottom: 50%;
  left: 40%;
  border: 10px solid #9356DC;
  border-top: 10px solid #FF79DA;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F2F2F2;
  width: 100%;
  height: 450px;
}

main {
  width: 100%;
}

h1 {
  font-family: 'Shrikhand', cursive;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  font-family: 'Shrikhand', cursive;
}

li {
  text-decoration: none;
  color: initial;
}

.gps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: #ebebeb;
  height: 50px;
  -webkit-box-shadow: 0px 0px 5px 0px #8a8989;
          box-shadow: 0px 0px 5px 0px #8a8989;
}

.icone-gps {
  padding-right: 10px;
}

.sousgps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
  max-width: 100%;
  margin: 20px 15px 20px 15px;
  text-align: center;
}

.explorer {
  border: 0;
  padding: 15px 25px;
  border-radius: 100px;
  color: white;
  background-color: #686868;
  background-image: linear-gradient(339deg, #9356DC, #FF79DA);
  cursor: pointer;
  -webkit-box-shadow: 0 0px 20px 0px #aaaaaa;
          box-shadow: 0 0px 20px 0px #aaaaaa;
}

.explorer:hover {
  -webkit-transition-duration: 0.90s;
          transition-duration: 0.90s;
  -webkit-box-shadow: 0 0px 20px 0px #383737;
          box-shadow: 0 0px 20px 0px #383737;
}

.imgacc {
  max-width: 1445px;
  height: 100px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

#nav {
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 330px;
  height: 60px;
  border-radius: 25px;
  background-color: #F2F2F2;
  margin: 25px;
  list-style-type: none;
  align-items: center;
  -webkit-box-shadow: 0 0px 10px 0px #aaaaaa;
          box-shadow: 0 0px 10px 0px #aaaaaa;
}

.titrefonct > h2 {
  margin-left: 20px;
}

.fonctionement ul li:hover {
  cursor: pointer;
  background: #f0c0e1;
  -webkit-transition-duration: 0.90s;
          transition-duration: 0.90s;
}

#fonct {
  padding: 0px;
}

.container1 {
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 25px;
  max-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.img {
  width: 100%;
  height: 154px;
}

.restau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 10px 0px 10px;
}

.boxrest a > div > .rest > h3 {
  margin: 0px;
}

.boxrest a > div > .rest > p {
  margin: 0px;
}

.boxrest {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.boxrest > a {
  width: 340px;
  height: 235px;
  border-radius: 20px;
  margin-top: 20px;
  background-color: white;
  text-decoration: none;
  color: black;
  -webkit-box-shadow: 0 0px 10px 0px #aaaaaa;
          box-shadow: 0 0px 10px 0px #aaaaaa;
}

.boxrest > a > div > img {
  width: 100%;
  height: 155px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 30px;
  background-color: #99E2D0;
  position: relative;
  bottom: 145px;
  left: 230px;
}

footer {
  width: 100%;
  background-color: #353535;
  color: white;
}

footer li {
  color: white;
  list-style: none;
  text-decoration: none;
}

footer > ul > li > a {
  text-decoration: none;
  color: white;
}

footer > span {
  font-family: 'Shrikhand', cursive;
  margin-left: 40px;
}

.patille {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 10px;
  width: 3px;
  height: 3px;
  background-color: #9356DC;
  border-radius: 200px;
  color: white;
  position: relative;
  right: 23px;
}

.iconefonc {
  padding-right: 5px;
}

.coeur {
  position: relative;
  right: 24px;
  bottom: 10px;
}

.coeur > .coeur-blanc {
  position: absolute;
}

.coeur > .coeur-color {
  position: absolute;
}

.coeur-color {
  opacity: 0;
}

.coeur-color:hover {
  opacity: 1;
  -webkit-transition-duration: 0.90s;
          transition-duration: 0.90s;
  background: linear-gradient(339deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.coeur-blanc:hover {
  background: white;
}

/*pages restaurant*/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.teterestaurant {
  width: 100%;
  background-color: white;
}

.fleche-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 40px;
  top: 40px;
  color: black;
}

.img-restaurant {
  max-width: 1445px;
}

.imgrestau {
  background: transparent;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -91px;
  width: 100%;
  background-color: #F2F2F2;
  border-radius: 45px 45px 0px 0px;
}

.container li {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 88%;
  height: 60px;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 25px;
  list-style-type: none;
  align-items: center;
  -webkit-box-shadow: 0 0px 10px 0px #aaaaaa;
          box-shadow: 0 0px 10px 0px #aaaaaa;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.containet li:hover {
  cursor: pointer;
}

.container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0px;
}

.container > h2 {
  margin-left: 20px;
}

.entrees {
  padding: 7px;
}

.sous {
  margin-left: 15px;
}

.sous:after {
  background-color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  content: "";
  width: 65px;
  height: 5px;
  margin-left: 15px;
}

.platentrée > p {
  margin: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.list2 {
  -webkit-animation: affichage 3s ease-out;
          animation: affichage 3s ease-out;
}

.list3 {
  -webkit-animation: affichage 6s ease-out;
          animation: affichage 6s ease-out;
}

.list4 {
  -webkit-animation: affichage 8s ease-out;
          animation: affichage 8s ease-out;
}

.list5 {
  -webkit-animation: affichage 10s ease-out;
          animation: affichage 10s ease-out;
}

@-webkit-keyframes affichage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes affichage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.platentrée {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button-commande {
  width: 200px;
  border: 0;
  padding: 15px 25px;
  border-radius: 100px;
  color: white;
  background-color: #686868;
  background-image: linear-gradient(339deg, #9356DC, #FF79DA);
  cursor: pointer;
  -webkit-box-shadow: 0 0px 20px 0px #aaaaaa;
          box-shadow: 0 0px 20px 0px #aaaaaa;
}

.button-commande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-comm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0px 60px 0px;
}

.titrerest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
  font-size: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -17px;
  padding: 35px;
}

.prix {
  margin-left: auto;
  padding-right: 5px;
  cursor: pointer;
}

.icone-choix {
  opacity: 0;
  cursor: pointer;
  display: none;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list2:hover > .icone-choix {
  opacity: 1;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  padding: 9%;
  border-radius: 0px 15px 15px 0px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.list3:hover > .icone-choix {
  opacity: 1;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  padding: 9%;
  border-radius: 0px 15px 15px 0px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.list4:hover > .icone-choix {
  opacity: 1;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  padding: 9%;
  border-radius: 0px 15px 15px 0px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.fa-check {
  position: absolute;
  background-color: white;
  color: #99E2D0;
  padding: 3px;
  border-radius: 200px;
}

.list2:hover .fa-check {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
}

.list3:hover .fa-check {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
}

.list4:hover .fa-check {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
}

@media screen and (min-width: 819px) {
  .restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 60%;
  }
  .restaurant h2 {
    text-align: center;
  }
  .titre-restaurant {
    width: 100%;
  }
  .titrefonct h2 {
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */